.page_header{
  padding: 0 5%;
  background-color: lightblue;
}

h1{
    color:#1734c2;
    margin: 0;
}

/* #order-ticket{
    width: 80%;
    text-align: center;
    border: 2px solid #73AD21;
    border-radius: 25px;
    margin: 0px auto 5px;
}
#ticket-info{
    justify-content: center;
    display: flex;
} */

.menu_item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 0;
}

.menu_item input{
  width: 100px;
  
}

#part1 #part2{
  width: 45%;
}

html body{
  text-align: center;
  margin: 0;
}

#notice{
  color:red;
  font-weight: bold;
  font-size: larger;
}

button{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #1ED760;
  height: 48px;
  margin-top: 5px;
  :hover{
    transform: scale(1.04);
    background-color: #21e065;
  }
                
}

form input, #server_number{
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  :focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
                
}

#message_log{
  height: 55vh;
  width: 80%;
  overflow-y: scroll;
  border: 2px solid #1734c2;
  margin: auto;
}

.page_body{
    height: 90%;
}

.container {
  display: grid;
  grid-template-areas:
    "serverGrid tableGrid"
    "menuGrid notesGrid";
  grid-template-columns: 2fr 2fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
  width: 70%;
  margin: 0px auto 5px;
}
.container div {
  background-color: white;
  padding: 10px;
}
.container div.serverGrid {
  grid-area: serverGrid;
  text-align: center;
}
.container div.tableGrid {
  grid-area: tableGrid;
  text-align: center;
}
.container div.menuGrid {
  grid-area: menuGrid;
  text-align: left;
}
.container div.menuGrid h2{
    text-align: center;
}

.container div.menuGrid li{
  font-size: 18px;
}
.container div.notesGrid {
  grid-area: notesGrid;
  text-align: center;  
}


select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */
  height: 48px;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}